@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html {
  scroll-behavior: smooth;
}

:root{
  --green1: #A1B084;
  --green2: #919E78;
  --green3: #7F8A68;
  --green4: #677154;
  --green5: #4D5416;
  --crema: #F4EEE0;
  --ocra1: #D2C38D;
  --ocra2: #B49B3E;
  --rosso1: #98493B;
  --rosso2: #823626;
}

.main{
  background-color: black;
}

.grid-container { 
  color: var(--ocra1);
  border-left: 3px solid var(--green1);
  font-family: 'Playfair Display';
  font-size: 300%;
  display: grid;
  grid-template-columns: auto auto;
  margin: 5% 5% 10% 5%;
  padding-left: 3%;
  gap: 10%;
}

.grid-container-buttons{
  display: grid;
  grid-template-columns: auto auto;
  height: 10%;
  margin: 5% 50% 0 0;
  gap: 10%;
}

.grid-container-bro{
  color: var(--ocra1);
  font-family: 'Playfair Display';
  font-size: 300%;
  display: grid;
  grid-template-columns: 15% 80%;
  margin: 5% 10% 0 5%;
  gap: 10%;
}

.subtitle{
  font-family: 'Montserrat';
  font-size: 50%;
  color: var(--ocra1);
  margin: 3% 3% 3% 0;
}

.line{
  grid-template-columns: 80% 15%;

}

.psico{
  background-image: url("foglia3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.sessuo{
  background-image: url("fiore.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: right;
}

.bro-desc{
  border-radius: 12px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 0 10% 0 10%;
  background-color: rgba(161, 176, 132, 0.5);
  font-size: 40%;
  text-align: justify;
  color: var(--crema);
  font-family: 'Montserrat';}

.description{
  margin: 0 20% 0 0;
  font-size: 40%;
  text-align: justify;
  color: var(--crema);
  font-family: 'Montserrat';
}

.my-hr{
  margin-right: 50%;
  opacity: 50%;
  background: var(--green1);
  border: none;
  height: 2px;
}

.center{
  display: flex;
  align-items:flex-end;
  justify-content:flex-end;
}

.camelia{
  width: 50%;
  height: auto;
}

.button {
  background-color: var(--green2);
  border: none;
  color: black;
  font-weight: bold;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30%;
  cursor: pointer;
  border-radius: 12px;
  font-family: 'Montserrat';
  transition-duration: 0.4s;
  box-shadow: 3px 3px 3px  var(--green5);
  cursor: pointer;
}

.button:hover{
  background-color: var(--green1);;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
