@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html {
  scroll-behavior: smooth;
}

:root{
  --green1: #A1B084;
  --green2: #919E78;
  --green3: #7F8A68;
  --green4: #677154;
  --green5: #4D5416;
  --crema: #F4EEE0;
  --ocra1: #D2C38D;
  --ocra2: #B49B3E;
  --rosso1: #98493B;
  --rosso2: #823626;
}

.main{
  background-color: black;
}

.grid-container {
  color: var(--ocra1);
  font-family: 'Playfair Display';
  display: grid;
  font-size: 300%;
  grid-template-columns: auto auto;
  margin: 5%;
  gap: 10%;
}

.side{
  background-repeat: repeat;
  background-image: url("Camelia.png");
}